.button-container {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.action-button {
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.create-button {
  background-color: #4a90e2;
}

.edit-button {
  background-color: #f5a623;
}

.delete-button {
  background-color: #e94b3c;
}

.action-button:hover {
  opacity: 0.8;
}
.edit-offices-button {
  background-color: #867c84;
}
